<div
  class="space-y-8 md:space-y-0 md:space-x-8 rtl:space-x-reverse grid grid-cols-1 grid-rows-2 md:flex md:items-center md:justify-center"
>
  <div class="block md:hidden">
    <h2 class="font-bold text-xl mb-2">Economize Dinheiro</h2>

    <p class="max-w-2xl">
As VPNs permitem acesso à internet gratuita, seja de forma limitada ou ilimitada, reduzindo significativamente os custos com pacotes de dados. Estudos indicam que a população Moçambicana gasta em média 21% da sua renda mensal em  tarifas de dados. Além disso, a navegação segura e privada garante mais liberdade sem comprometer a qualidade da conexão. Escolher uma VPN eficiente pode fazer a diferença no orçamento, proporcionando internet estável sem gastos adicionais. Aproveite essa tecnologia para reduzir despesas e manter-se sempre conectado com segurança e praticidade.

    </p>
  </div>
  <div
    class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px] shadow-xl mt-6"
  >
    <div
      class="w-[148px] h-[18px] bg-gray-800 top-0 rounded-b-[1rem] left-1/2 -translate-x-1/2 absolute"
    ></div>
    <div
      class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"
    ></div>
    <div
      class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"
    ></div>
    <div
      class="h-[64px] w-[3px] bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"
    ></div>
    <div
      class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800"
    >
      <img
        src="./public/mockup-1-light.png"
        class="dark:hidden w-[272px] h-[572px]"
        alt=""
      />
      <img
        src="./public/mockup-1-dark.png"
        class="hidden dark:block w-[272px] h-[572px]"
        alt=""
      />
    </div>
  </div>
  <div class="hidden md:block">
    <h2 class="font-bold text-xl mb-2">Economize Dinheiro</h2>

    <p class="max-w-2xl">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ea, nulla
      ipsum dolor sit amet, consectetur adipisicing elit. Culpa ea, nulla minus
      ipsa vel fuga cupiditate maxime repudiandae, alias expedita animi,
      voluptates esse asperiores maiores voluptatem. minus ipsa vel fuga
      cupiditate maxime repudiandae, alias expedita animi, voluptates esse
      asperiores maiores voluptatem.
    </p>
  </div>
</div>
