<div
  class="space-y-8 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center md:justify-center"
>
  <div>
    <h2 class="font-bold text-xl mb-2">Servidores Disponíveis</h2>

    <p class="max-w-2xl">
Conecte-se a servidores VPN em todo o mundo com alta velocidade e segurança. Escolha entre diversas localizações para desbloquear conteúdos, navegar anonimamente e garantir proteção contra ameaças digitais. Com tecnologia avançada e suporte dedicado, oferecendo a melhor experiência de conexão. Aproveite a internet grátis para jogos, streaming e navegação sem restrições. Teste agora e descubra a liberdade de uma conexão segura e ilimitada.


    </p>
  </div>

  <div
    class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px] shadow-xl mt-6"
  >
    <div
      class="w-[148px] h-[18px] bg-gray-800 top-0 rounded-b-[1rem] left-1/2 -translate-x-1/2 absolute"
    ></div>
    <div
      class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"
    ></div>
    <div
      class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"
    ></div>
    <div
      class="h-[64px] w-[3px] bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"
    ></div>
    <div
      class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800"
    >
      <img
        src="./public/mockup-2-light.png"
        class="dark:hidden w-[272px] h-[572px]"
        alt=""
      />
      <img
        src="./public/mockup-2-dark.png"
        class="hidden dark:block w-[272px] h-[572px]"
        alt=""
      />
    </div>
  </div>
</div>
