<div id="vpn_disponivel">
  <h2 class="font-bold text-xl mb-2">Vpn Disponíveis</h2>
  <p class="mb-4">
    Confira nossa lista de VPNs disponíveis abaixo e explore uma conexão segura, rápida, confiável e acima de gratuita. Conecte-se a servidores em diversas regiões para navegar sem restrições, proteger seus dados e garantir privacidade total. Com suporte a múltiplas plataformas e protocolos avançados, você pode desfrutar da internet sem barreiras. Escolha a VPN ideal para suas necessidades e aproveite a liberdade online com segurança e estabilidade. Lembrando que as configurações dos VPN são actualizados mensalmente.
  </p>
</div>

<div class="grid md:grid-cols-3 gap-6 lg:gap-6 lg:grid-cols-4">
  <div
    class="max-w-md bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
  >
    <a href="">
      <img
        class="rounded-t-lg border-b border-gray-700"
        src="./public/vpn_icon/pausa_vpn.png"
        alt=""
      />
    </a>
    <div class="p-5">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Pausa Vpn
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">
        PAUSA VPN é um aplicativo VPN que oferece recursos fáceis de usar e
            garante uma navegação segura.
      </p>
      <div class="mb-3">
        <b>Operadora: </b><span>Vodacom e Tmcel Ilimitado</span>
      </div>
      <a
        href="./app/vpn/pausa_vpn"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Ver Configuração
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>
  
  
    <div
    class="max-w-md bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
  >
    <a href="">
      <img
        class="rounded-t-lg border-b border-gray-700"
        src="./public/vpn_icon/http_custom.png"
        alt=""
      />
    </a>
    <div class="p-5">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Http Custom
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">
        Http Custom é um aplicativo VPN que oferece recursos fáceis de usar e
            garante uma navegação rápida e segura.
      </p>
      <div class="mb-3">
        <b>Operadora: </b><span>Vodacom e Tmcel</span>
      </div>
      <a
        href="./app/vpn/http_custom"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Ver Configuração
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>
  
  
    <div
    class="max-w-md bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
  >
    <a href="">
      <img
        class="rounded-t-lg border-b border-gray-700"
        src="./public/vpn_icon/mhtunel.webp"
        alt=""
      />
    </a>
    <div class="p-5">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        MH Tunnel
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">
        MH Tunnel Proxy VIP é uma rede privada virtual (VPN) de alta qualidade e serviço que oferece privacidade de dados
      </p>
      <div class="mb-3">
        <b>Operadora: </b><span>Vodacom </span>
      </div>
      <a
        href="./app/vpn/mh_tunnel"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Ver Configuração
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>
  
  
  
    <div
    class="max-w-md bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
  >
    <a href="">
      <img
        class="rounded-t-lg border-b border-gray-700"
        src="./public/vpn_icon/onspacevpn.jpg"
        alt=""
      />
    </a>
    <div class="p-5">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        OnSpace Vpn
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">
        OnSpace Vpn é um aplicativo VPN que oferece recursos fáceis de usar e
            garante uma navegação segura.
      </p>
      <div class="mb-3">
        <b>Operadora: </b><span>Vodacom e Tmcel</span>
      </div>
      <a
        href="./app/vpn/onspace_vpn"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Ver Configuração
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>
  
  
  
  

  

    <div
    class="max-w-md bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
  >
    <a href="">
      <img
        class="rounded-t-lg border-b border-gray-700"
        src="./public/vpn_icon/tls_tunel.png"
        alt=""
      />
    </a>
    <div class="p-5">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Tsl Tunnel
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">
        Tsl Tunnel é um aplicativo VPN que oferece recursos fáceis de usar e
            garante uma navegação segura.
      </p>
      <div class="mb-3">
        <b>Operadora: </b><span>Vodacom</span>
      </div>
      <a
        href="./app/vpn/tls_tunnel"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Ver Configuração
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>  
  
  
</div>
