<div class="p-4 text-gray-900 md:pb-4 dark:text-white">
  <ul class="space-y-4" aria-labelledby="mega-menu-dropdown-button">
    <li>
      <a
        href="./app/vpn/pausa_vpn"
        class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500"
      >
        Pausa Vpn
      </a>
    </li>
    <li>
      <a
        href="./app/vpn/http_custom"
        class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500"
      >
        Http Custom
      </a>
    </li>
    <li>
      <a
        href="./app/vpn/mh_tunnel"
        class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500"
      >
        MH Tunnel
      </a>
    </li>
    <li>
      <a
        href="./app/vpn/onspace_vpn"
        class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500"
      >
        OnSpace Vpn
      </a>
    </li>
    <li>
      <a
        href="./app/vpn/tls_tunnel"
        class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500"
      >
        Tls Tunnel
      </a>
    </li>
  </ul>
</div>
